.maze-hero{
    height: calc(100hv - 138px) !important;
}

label{
  cursor: pointer;
}

label {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.control-group.warning .control-label{
  color: #c09853;
}

.control-group.error .control-label{
  color: #b94a48;
}

.control-group.success .control-label {
  color: #468847;
}

.control-group.info .control-label {
  color: #3a87ad;
}

.form-search label,
.form-inline label {
  display: inline-block;
}

.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

.label {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.label {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.label:empty{
  display: none;
}

a.label:hover,
a.label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}


.label-important {
  background-color: #b94a48;
}

.label-important[href] {
  background-color: #953b39;
}

.label-warning {
  background-color: #f89406;
}

.label-warning[href] {
  background-color: #c67605;
}

.label-success{
  background-color: #468847;
}

.label-success[href] {
  background-color: #356635;
}

.label-info {
  background-color: #3a87ad;
}

.label-info[href] {
  background-color: #2d6987;
}

.label-inverse {
  background-color: #333333;
}

.label-inverse[href] {
  background-color: #1a1a1a;
}

.btn .label {
  position: relative;
  top: -1px;
}

.btn-mini .label{
  top: 0;
}

.icon-github {
    background: no-repeat url('../img/github-16px.png');
    width: 16px;
    height: 16px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.accordion {
    margin-bottom: -3px;
}

.accordion-group {
    border: none;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

    .tt-suggestion:hover,
    .tt-suggestion:focus {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #428bca;
    }
